@import url('https://fonts.googleapis.com/css?family=Open+Sans');

:root {
    /* Light theme */
    --primary1: #D8E8F5;
    --primary2: #b5d3ec;
    --primary3: #4795d3;
    --background: #fdfdfd;
    --font: #75afde;
    --font-secondary: #121212;

    font-family: "Open Sans", sans-serif;
    background-color: var(--background);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme */
        --primary1: #373a3d;
        --primary2: #3b3f48;
        --primary3: #4795d3;
        --background: #2c2b2b;
        --font: #75afde;
        --font-secondary: #fdfdfd;
    }
}

/* Header */
header {
    padding: 2vh;
    background-color: var(--primary1);
    border: none;
}

header > h6 {
    color: var(--font);
}


h1 {
    font-size: 33px;
    color: var(--font-secondary);
}

h2 {
    text-decoration: underline;
    text-decoration-thickness: 0.1em;
    color: var(--font);
}

h6 {
    color: var(--font-secondary);
}

p {
    text-align: left;
    padding: 0.5vh 0;
    color: var(--font-secondary);
}

a {
    color: var(--font);
}
footer {
    color: var(--font-secondary);
}
/* Send email button */
#contact {
    background-color: var(--primary2);
    padding: 2vh;
}

#contact > a {
    text-decoration: none;
    background-color: var(--primary3);
    font-size: 1.2em;
    color: #000;
    padding: 1vh;
    border-radius: 25px;
    transition: 0.3s;
}

#contact > a:hover {
    opacity: 0.5;
}

/* Flexbox */
main {
    margin: 0;
}

#container {
    padding: 2%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
}

section {
    flex-basis: 50%;
    max-width: 100%;
    min-width: 500px;
}

section > div > p {
    max-width: 75%;
}


/* Dots */
.dot-full, .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5%;
    border: 5px solid var(--primary3);
}

.dot-full {
    background-color: var(--primary3);
}

.dot-box {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0.5vw;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vh;
}

#skills > div {
    flex-basis: 40%;
}


@media only screen and (max-width: 600px) {
    section {
        flex-basis: 100%;
        min-width: 100%;
    }

    #skills > div {
        flex-basis: 100%;
    }
}
