:root {
    /* Light theme */
    --background1: #D8E8F5;
    --background2: #fdfdfd;
    --font: #4795d3;
    --font-secondary: #121212;

    font-family: Arial, sans-serif;
    background-color: var(--background2);
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Dark theme */
        --background1: #373a3d;
        --background2: #2c2b2b;
        --font: #75afde;
        --font-secondary: #fdfdfd;
    }
}

/* Header */
header {
    padding: 3vh;
    background-color: var(--background1);
    border: none;
}

/* General */
h2, a {
    color: var(--font);
    margin: 0;
}

h1, h6, p, footer {
    color: var(--font-secondary);
    margin: 0;
}

p {
    text-align: left;
    padding: 0;
    font-size: 1em;
}

.overview {
    padding: 0.8vh 0;
}
/* Flexbox */
main {
    margin: 0;
}

#container {
    padding: 3vh;
    display: flex;
    flex-wrap: wrap;
    row-gap: 3vh;
}

section {
    flex-basis: 50%;
    max-width: 100%;
    min-width: 500px;
}

section > div > p {
    max-width: 75%;
}


/* Dots */
.dot-full, .dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 0.5%;
    border: 3px solid var(--font);
}

.dot-full {
    background-color: var(--font);
}

.dot-box {
    display: flex;
    flex-wrap: nowrap;
    column-gap: 0.4vw;
    padding: 0.4vh 0;
}

#skills {
    display: flex;
    flex-wrap: wrap;
    column-gap: 2vh;
}

#skills > div {
    flex-basis: 40%;
}


@media only screen and (max-width: 600px) {
    section {
        flex-basis: 100%;
        min-width: 100%;
    }

    #skills > div {
        flex-basis: 100%;
    }
}
