body {
  margin: 0;
}

main {
  margin: 20px;
  width: 80vw;
}

footer {
  border-top: black solid 1px;
  padding: 20px;
}

header, footer {
  border-bottom: solid 1px black;
  padding: 20px;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3vh;
}

p {
  font-size: 2vh;
}

#logo {
  font-size: 4vh;
  color: black;
}

#text-logo {
  font-style: italic;
  font-weight: 900;
}

td, table, th {
  border: solid 1px black;
  border-collapse: collapse;
  padding: 10px;
}
